.results__count {
  margin-top: 45px;
  font-family: 'Bangers', cursive;
  font-weight: normal;
  font-size: 36px;
}

.results__count {
  margin-top: 45px;
  font-family: 'Bangers', cursive;
  font-weight: normal;
  font-size: 36px;
}
