.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 500px) {
  .menu {
    width: auto;
    flex-direction: row;
    gap: 0;
  }
}

.menu__link {
  display: inline-block;
  padding: 15px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: 4px solid #ffffff;
  border-radius: 100vw;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (hover: hover) {
  .menu__link:hover {
    color: var(--cervena);
    background-color: #ffffff;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

.menu__link--active {
  color: var(--cervena);
  background-color: #ffffff;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu__link:not(:last-child) {
  margin-right: 10px;
}
