.intro {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 40px;
}

@media screen and (min-width: 600px) {
	.intro {
		grid-template-columns: 1fr 1fr;
		gap: 60px;
	}
}

.intro__logo {
	width: 100%;
}

.intro__title {
	margin-top: 0;
}