.evaluation {
	padding: 50px;
	min-height: 400px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.evaluation__title {
	margin-top: 0;
	color: var(--cervena);
}

.evaluation__content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 60px;
}

.success-rate {
	background-color: var(--seda);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Bangers', cursive;
	font-size: 90px;
	color: var(--cervena);
}